<mat-card class="m-3 card-background">
  <mat-card-header>
    <mat-card-title-group class="row  w-100">
      <div class="col-md-7">
        <mat-card-title>{{this.user?.first_name + ' ' + this.user?.last_name}}</mat-card-title>
        <mat-card-subtitle>{{this.user?.email}}</mat-card-subtitle>
      </div>
      <img mat-card-xl-image src="{{this.user?.avatar}}" class="col-md-5">
    </mat-card-title-group>
  </mat-card-header>
</mat-card>

<button class="btn btn-success arrow-back-style" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>

