<mat-radio-group [(ngModel)]="viewType" class="radio-group-position"
                 aria-label="Select an option">
  <mat-radio-button value="1"><img src="assets/Icons/Card-icon.svg" class="me-2"></mat-radio-button>
  <mat-radio-button value="2"><img src="assets/Icons/List-icon.svg"></mat-radio-button>
</mat-radio-group>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="What you want to search" #input>
</mat-form-field>

<div *ngIf="viewType=='1'" class="row">
  <mat-card *ngFor="let item of cardList|async" class="col-md-4 col-sm-6 col-xs-12 card-background">
    <mat-card-header>
      <mat-card-title-group class="row">
        <div class="col-6">
          <mat-card-title>{{item.first_name + ' ' + item.last_name}}</mat-card-title>
          <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
        </div>
        <div class="col-1">
          <mat-icon (click)="viewUser(item.id)" class="icon-style">more_vert</mat-icon>
        </div>
        <img mat-card-md-image src="{{item.avatar}}" class="card-avatar-style col-5">
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>

<div class="mat-elevation-z8" *ngIf="viewType=='2'">
  <table mat-table [dataSource]="dataSource" matSort class="table-background">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
      <td mat-cell *matCellDef="let row"> {{row.email}}</td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="first name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
      <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="last name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
      <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Avatar</th>
      <td mat-cell *matCellDef="let row"><img src="{{row.avatar}}" class="avatar-style"></td>
    </ng-container>

    <ng-container matColumnDef="view" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="viewUser(element.id)" class="icon-style">more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
<mat-paginator class="mt-3 paginator-background" [length]="length" [pageSize]="pageSize" (page)="handlePageEvent($event)"
               [hidePageSize]="true"
               aria-label="Select page"></mat-paginator>

