table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.avatar-style {
  border-radius: 50%;
  max-height: 3rem;
  margin-bottom: 3px;
  margin-top: 3px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.radio-group-position {
  display: flex;
  float: right;
  margin-top: 1rem;

  mat-radio-button {
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.card-avatar-style {
  border-radius: 50%;
}

.icon-style {
  color: #f96075;
  cursor: pointer;
}


