<mat-toolbar>
  <a href="/" class="company-name-style">
    <span class="company-name-style">Emenu Test</span>
  </a>
  <a href="Users/index" class="menu-item-style">
    <p>Users</p>
  </a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <img src="assets/Logo/emenu.jpg" alt="amenu" class="img-emenu-style">
  </button>
</mat-toolbar>
