.example-spacer {
  flex: 1 1 auto;
}

.img-emenu-style {
  width: 44px;
  border-radius: 50%;
}

.menu-item-style {
  text-decoration: none;
  margin-top: 15px;
  margin-left: 11px;
  font-size: 15px;
  color: #372a62;
}

.company-name-style {
  color: #f66073;
  text-decoration: none;
}

.mat-toolbar {
  background-color: #f5f5f5ab;
}


