/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: rgb(185, 185, 185);
  background: linear-gradient(217deg, rgba(185, 185, 185, 1) 0%, rgba(218, 216, 216, 1) 51%, rgba(255, 255, 255, 1) 100%);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-background, .paginator-background, .card-background {
  background-color: transparent;
}
